<template lang="pug">
div#main
  mapbox-map(
    :accessToken="accessToken"
    :center="center"
    :zoom="3"
  )
    mapbox-geogeometry-raw(
      :source="routeFeature"
    )
      mapbox-geogeometry-line(
        color="#0f0"
        :width="10"        
        :cap="cap"
        :join="join"
      )
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, onUnmounted } from 'vue';

import { the_middle_of_nowhere } from '../_helpers';
import { MapboxMap, MapboxGeogeometryCircle, MapboxGeogeometryLine, MapboxGeogeometryRaw } from '@/components';

export default defineComponent({
  name: 'MapboxGeogeometryCircleBase',
  components: {
    MapboxMap, MapboxGeogeometryRaw, MapboxGeogeometryLine
  },
  props: {
    accessToken: { type: String, required: true },
    join: { type: String, default: 'round' },
    cap: { type: String, default: 'cap' },
    center: { type: Array, default: the_middle_of_nowhere }
  },
  setup(props){

    const routeFeature = computed(() => ({
      'type': 'geojson',
      'data': {
        'type': 'Feature',
        'properties': {},
        'geometry': {
          'type': 'LineString',
          'coordinates': [
            [-15, -11],
            [-8, -11],
            [-8, -4],
            [-15, -4],
          ]
        }
      }
    }));


    onMounted(async () => {

    });

    onUnmounted(async () => {

    });

    return {
      routeFeature,
    };
  }
});
</script>

<style lang="scss" scoped>
#main{
  width: 400px;
  height: 300px;
}
</style>